@charset "UTF-8"

:root {
    --color0:#c5ebd6;
    --color1:#83e1ad;
    --color2:#3ddc84;
    --color3:#2fa866;
    --color4:#063d1e;
    --font0: Arial, Helvetica, sans-serif;
    --font1: 'Bebas Neue', cursive;
    --font2: 'Android', sans-serif;
}

body {
    font-family: var(--font0);
    color: var(--color0);
    background-color: var(--color1);
    line-height: 2em;
}

ul {
    list-style-type: '\2714\0020\0020';
    columns: 2;
    list-style-position: inside;
}